@model PrimeiraAvaliacao.Models.Faixa


@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
<ul>
    <li> <b>Nome:</b>  @Model.Nome</li>
    <li> <b>Id: </b> @Model.Id</li>
    <li> <b>Grau: </b> @Model.Grau</li>
</ul>

